// font-family: 'Playfair Display', serif;

html, body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $color;
    background-color: $background-color;
}

p + p {
    margin-top: 1em;
}

.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: 0 auto;
}